<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>longitude</th>
    <th>latitude</th>
    <th>description</th>
    <th>Detail</th>
  </tr>

    <% @events.each do |event| %>
  <tr>
    <td><%= event.id %></td>
    <td><%= truncate(event.name) %></td>
    <td><%= event.longitude %></td>
    <td><%= event.latitude %></td>
    <td><%= truncate(event.description) %></td>
    <td><%= link_to "Google map", "https://www.google.com/maps/search/#{event.latitude},+#{event.longitude}/@#{event.latitude},#{event.longitude},10z" %>
  
  </tr>
  <% end %>

</table>
